<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<p>You are successfully registered!!</p>

<script>
	
	  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 2000)

</script>
</body>
</html>